body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    height: 100vh; /* Full viewport height */
    background-image: url('images/bg.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    margin: 0; 
}

.container {
    text-align: center;
    box-shadow: 0 0 10px rgba(188, 183, 183, 0.1);
    background-color: #fff;
    margin: 100px auto 50px;
    max-width: 1200px;
    width: 60%;
    height: 60%;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box; 
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.navbar {
    background: rgba(255, 255, 255, 0.471); 
    backdrop-filter: blur(10px); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
    padding: 10px;
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0; 
    z-index: 1000;
}

.navbar .navigation {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
}

.navbar .logo {
    font-size: 24px;
    color: black; 
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: black; 
    text-decoration: none; 
    font-size: 18px;
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 5px 10px; 
    transition: background-color 0.3s, color 0.3s; 
}

.nav-links a:hover {
    text-decoration: underline;
    background-color: rgba(47, 36, 197, 0.574); 
    color: white; 
}

.menu-toggle {
    display: none; 
    cursor: pointer;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
}

@media (max-width: 768px) {
    .nav-links {
        display: none; 
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex; 
    }

    .menu-toggle {
        display: block;
    }
}

.logo {
    font-size: 24px;
    color: rgb(16, 15, 15);
    text-decoration: none;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #3d5343;
    /* margin: 0 auto 20px; /* short-hand of margin set top,leftright,bottom*/
    transition: transform 4s ease-in-out;
    margin: 30px auto;
}

/* .circle:hover {
    transform: scale(1.5); /* transition triggered 
} */

.instructions p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


button {
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #78b387;
    color: rgb(247, 245, 239);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

